<div id="swiper-vertical-slide-wrapper">
    <div class="swiper-vertical-slide">
        <p>Gartenberatung und Planung</p>
        <img src="../../assets/pics/iconBlume16.png" alt="filling">
    </div>
    <div class="swiper-vertical-slide">
        <p>Skizzierung und Zeichnung</p>
        <img src="../../assets/pics/iconBlume16.png" alt="filling">
    </div>
    <div class="swiper-vertical-slide">
        <p>Gestaltung, Dekoration</p>
        <img src="../../assets/pics/iconBlume16.png" alt="filling">
    </div>
    <div class="swiper-vertical-slide">
        <p>Garten, Wintergarten</p>
        <img src="../../assets/pics/iconBlume16.png" alt="filling">
    </div>
    <div class="swiper-vertical-slide">
        <p>Farbberatung</p>
        <img src="../../assets/pics/iconBlume16.png" alt="filling">
    </div>
    <div class="swiper-vertical-slide">
        <p>Stilfragen auch im Innenbereich</p>
        <img src="../../assets/pics/iconBlume16.png" alt="filling">
    </div>
    <div class="swiper-vertical-slide">
        <p>Hilfe zur Selbsthilfe</p>
        <img src="../../assets/pics/iconBlume16.png" alt="filling">
    </div>
    <div class="swiper-vertical-slide">
        <p>Ausführung durch Landschaftsgärtner meines Vertrauens</p>
        <img src="../../assets/pics/iconBlume16.png" alt="filling">
    </div>
    <div class="swiper-vertical-slide">
        <p>Betreuung</p>
        <img src="../../assets/pics/iconBlume16.png" alt="filling">
    </div>
    <div class="swiper-vertical-slide">
        <p>Grabgestaltung</p>
        <img src="../../assets/pics/iconBlume16.png" alt="filling">
    </div>
    <div class="swiper-vertical-slide left">
        <p>Saisonale Pflanzendekoration in Schalen und Kübeln</p>
        <img src="../../assets/pics/iconBlume16.png" alt="filling">
    </div>
</div>

        