@import "../shared/scss/general/general";
$heightSwiperSlide: 130px;
$heightSwiperWrapper: 500px;
$slideDuration: 15s;
#swiper-vertical-slide-wrapper {
    border-radius: 20px;
    height: $heightSwiperWrapper;
    overflow: hidden;
    position: relative;
    width: 500px;
    .swiper-vertical-slide {
        @include flexbox-container(column, nowrap, center, center, flex, space-around);
        height: $heightSwiperSlide;
        position: absolute;
        transition: transform $slideDuration linear;
        width: 100%;
        p {
            @include font-size-greater();
            color: $color-main;
            font-family: $font-family-handwriting2;
            margin-left: auto;
            margin-right: auto;
            max-width: 90%;
            text-align: center;
        }
        img {
            display: none;
            width: 20px;
        }
    }
    .down {
        opacity: 0;
        transform: translate(0, $heightSwiperWrapper) !important;
    }
    .up {
        opacity: 1;
        transform: translate(0, -$heightSwiperSlide) !important;
    }
}
