<div id="swiper-vertical-slide-wrapper">
    <div class="swiper-vertical-slide" [ngClass]="getSwiperClass(0)">
        <p>Gartenberatung und Planung</p>
        <img src="../../assets/pics/iconBlume16.png" alt="filling">
    </div>
    <div class="swiper-vertical-slide" [ngClass]="getSwiperClass(1)">
        <p>Skizzierung und Zeichnung</p>
        <img src="../../assets/pics/iconBlume16.png" alt="filling">
    </div>
    <div class="swiper-vertical-slide" [ngClass]="getSwiperClass(2)">
        <p>Gestaltung, Dekoration</p>
        <img src="../../assets/pics/iconBlume16.png" alt="filling">
    </div>
    <div class="swiper-vertical-slide" [ngClass]="getSwiperClass(3)">
        <p>Garten, Wintergarten</p>
        <img src="../../assets/pics/iconBlume16.png" alt="filling">
    </div>
    <div class="swiper-vertical-slide" [ngClass]="getSwiperClass(4)">
        <p>Farbberatung</p>
        <img src="../../assets/pics/iconBlume16.png" alt="filling">
    </div>
    <div class="swiper-vertical-slide" [ngClass]="getSwiperClass(5)">
        <p>Stilfragen auch im Innenbereich</p>
        <img src="../../assets/pics/iconBlume16.png" alt="filling">
    </div>
    <div class="swiper-vertical-slide" [ngClass]="getSwiperClass(6)">
        <p>Hilfe zur Selbsthilfe</p>
        <img src="../../assets/pics/iconBlume16.png" alt="filling">
    </div>
    <div class="swiper-vertical-slide" [ngClass]="getSwiperClass(7)">
        <p>Ausführung durch Landschaftsgärtner meines Vertrauens</p>
        <img src="../../assets/pics/iconBlume16.png" alt="filling">
    </div>
    <div class="swiper-vertical-slide" [ngClass]="getSwiperClass(8)">
        <p>Betreuung</p>
        <img src="../../assets/pics/iconBlume16.png" alt="filling">
    </div>
    <div class="swiper-vertical-slide" [ngClass]="getSwiperClass(9)">
        <p>Grabgestaltung</p>
        <img src="../../assets/pics/iconBlume16.png" alt="filling">
    </div>
    <div class="swiper-vertical-slide" [ngClass]="getSwiperClass(10)">
        <p>Saisonale Pflanzendekoration in Schalen und Kübeln</p>
        <img src="../../assets/pics/iconBlume16.png" alt="filling">
    </div>
</div>

        