<div id="text-container">
    <br>
    <p>Idyllische Plätze, Ambiente im eigenen Garten verwirklichen...</p>
    <p>Gärten die gut tun und das Lebensgefühl steigern,</p>
    <p>eine Auszeit gönnen oder die Freizeit gestalten...</p>
    <p>Das wohltuende Zusammenspiel von Farben, Formen,</p>
    <p>Licht und Schatten erkennen, die eigene Naturkost anbauen,</p>
    <p>besondere Elemente ergänzen, Oasen erschaffen...</p>
    <br>
    <p>Baum, Strauch, Blume, Wiese, Steine, Wasser, Plätze, Wege,</p>
    <p>Dekoelemente angenehm und besonders platzieren, erkennen,</p>
    <p>empfehlen...</p>
    <br>
    <p>Ein Raum zum Wohlfühlen!!!</p>
    <br>
    <p>Idyll ... Lebensart ... individuell genießen können ...</p>
    <p>so sollte ein Garten sein ... mal intensiver, mal dezenter ...</p>
    <p>aber mit dem Gefühl und dem Bewusstsein für die Natur ...</p>
    <br>
    <h4>Andrea Wohlgemuth</h4>
</div>