<div id="wrapper">
    <div *ngIf="landingPage" id="landing-page-container">
        <app-landing-page (toLandingPage)="toggleLandingPage()"></app-landing-page>
    </div>
    <div [ngClass]="{'hide-maxwidth-container': landingPage}" id="maxwidth-container">
        <app-navi-bar (toLandingPage)="toggleLandingPage()"></app-navi-bar>
        <div id="router-outlet">
            <router-outlet></router-outlet>
        </div>
        <a routerLink="/impressum" routerLinkActive="active">Impressum</a>
    </div>
</div>