<div id="wrapper">
    <h1>Impressum</h1>
    <!-- Telemediengesetz -->
    <div id="telemedien-container">
        <p><b>Angaben gemäß §5 und §6 Telemediengesetz</b></p>
        <p>Domaininhaber und verantwortlich für den Inhalt:</p>

        <!-- Domaininhaber -->
        <div id="owner-container">
            <p>Andrea Wohlgemuth</p>
            <p>
                Oberfeldweg 4
                <br>
                <i class="fa fa-address-book-o" aria-hidden="true"></i> 84036 Kumhausen
                <br> Deutschland
            </p>
            <a href="tel:+4917646507606">
                <i class="fa fa-phone" aria-hidden="true"></i> 0176 465 076 06
            </a>
            <br>
            <a href="mailto:{{getMyEmail()}}" class="dynamic-maincolor">
                <i class="fa fa-envelope-o" aria-hidden="true"></i> {{getMyEmail()}}
            </a>
            <!-- Steuerangaben -->
            <!--<p>SteuerNr.: 132 289 708 10</p>
            <p>Ust.ID.: 95 807 138 264 </p>-->
        </div>

        <p>Verantwortlich für die Website:</p>
        <!-- Entwickler -->
        <div id="developer-container">
            <p>Nikolai Wohlgemuth</p>
            <p>
                Kleiberweg 11
                <br>
                <i class="fa fa-address-book-o" aria-hidden="true"></i> 84051 Essenbach
                <br> Deutschland
            </p>
            <a href="tel:+4915111511384">
                <i class="fa fa-phone" aria-hidden="true"></i> 0151/11511384
            </a>
            <br>
            <a href="mailto:{{getDeveloperEmail()}}" class="dynamic-maincolor">
                <i class="fa fa-envelope-o" aria-hidden="true"></i> {{getDeveloperEmail()}}
            </a>
        </div>
    </div>
    <p><b>Inhalt des Onlineangebotes</b>
        <br>Der Autor übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen. Haftungsansprüche gegen den Autor, welche sich auf Schäden materieller oder ideeller Art beziehen, die
        durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich ausgeschlossen, sofern seitens des Autors kein nachweislich vorsätzliches
        oder grob fahrlässiges Verschulden vorliegt.</p>
    <p><b>Verweise und Links</b>
        <br>Wir ermöglichen auf unserer Page Links zu anderen Seiten im Internet. Für all diese Links gilt: Wir möchten ausdrücklich betonen, dass wir keinerlei Möglichkeit der Einflussnahme auf die Gestaltung und die Inhalte der gelinkten Seiten haben.
        Deshalb distanzieren wir uns hiermit ausdrücklich von allen Inhalten aller gelinkten Seiten auf unserer Homepage. Diese Erklärung gilt für alle auf unseren Seiten aufgeführten Links und für alle Inhalte der Seiten, zu denen diese führen! Der Herausgeber
        erklärt daher ausdrücklich, dass zum Zeitpunkt der Linksetzung die entsprechenden verlinkten Seiten frei von illegalen Inhalten waren. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder
        Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde, nicht derjenige, der über Links auf die jeweilige Veröffentlichung lediglich verweist.</p>
    <p><b>Urheberrecht</b>
        <br>Der Herausgeber ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Objekte zu beachten, von ihm selbst erstellte Objekte zu nutzen oder auf lizenzfreie Objekte zurückzugreifen. Alle innerhalb des Internetangebotes genannten
        und ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer. Das Copyright für veröffentlichte, vom
        Herausgeber selbst erstellte Objekte bleibt allein beim Herausgeber der Seiten. Eine Vervielfältigung oder Verwendung solcher Objekte in anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung des Herausgebers nicht
        gestattet.
    </p>
    <p><b>Datenschutz</b><br>Wir geben Ihnen die Möglichkeit innerhalb dieser Internetpräsenz personenbezogene Daten in einem Formular zu übermitteln. Personenbezogene Daten sind Informationen, die genutzt werden können, um Ihre Identität zu erfahren.Darunter
        fallen Informationen wie Ihr Name, Adresse, Postanschrift, Telefonnummer, Email-Adresse. Hinsichtlich Ihrer personenbezogenen Daten weisen wir darauf hin, dass diese nach Maßgabe der anwendbaren Datenschutzbedingungen gespeichert und/oder übertragen
        werden. Im Übrigen werden personenbezogene Daten absolut vertraulich behandelt und nur mit gesonderter Zustimmung an Dritte weitergeleitet. Wir weisen Sie ausdrücklich darauf hin, dass der Datenschutz in offenen Netzen wie dem Internet nach dem
        derzeitigen Stand der Technik nicht vollständig gewährleistet werden kann. Wir wissen Ihr Vertrauen zu schätzen, das Sie uns entgegen bringen, und wenden äußerste Sorgfalt an, um Ihre persönlichen Angaben zu schützen. Wenn Sie Fragen haben, können
        Sie sich auch direkt an uns wenden. Sofern innerhalb des Internetangebotes die Möglichkeit zur Eingabe persönlicher oder geschäftlicher Daten (E-Mail-Adressen, Namen, Anschriften) besteht, so erfolgt die Preisgabe dieser Daten seitens des Nutzers
        auf ausdrücklich freiwilliger Basis.</p>
    <p><b>Rechtswirksamkeit dieses Haftungsausschlusses</b><br>Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von dem aus auf diese Seite verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden
        Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben die übrigen Teile dieses Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt. Wir aktualisieren und prüfen die Informationen auf dieser Website regelmäßig.
        Trotzdem kann keine Haftung für die Aktualität, Richtigkeit und Vollständigkeit der Information übernommen werden.</p>
</div>