<div id="swiper-slide-wrapper">
    <div class="swiper-slide center" (click)="navigateTo(['/', 'Heilpraxis Daniela Hale'])">
        <p>Praxis für Naturheilverfahren und energetisches Heilen</p>
        <img src="../../assets/pics/swiper_wald.jpg" alt="swiper_wald">
    </div>
    <div class="swiper-slide right" (click)="navigateTo(['/', 'Heilpraxis Daniela Hale'])">
        <p><b>Naturheilpraxis Daniela Hale</b></p>
        <img src="../../assets/pics/swiper_berge.jpg" alt="swiper_berge">
    </div>
    <div class="swiper-slide right" (click)="navigateTo(['/innerwise', 'innerwise®'])">
        <img src="../../assets/pics/swiper_innerwise.jpg" alt="swiper_innerwise">
    </div>
    <div class="swiper-slide right" (click)="navigateTo(['/psychosomatische_energetik', 'PSE (Psychosomatische Energetik)'])">
        <p>Psychosomatische Energetik</p>
        <img src="../../assets/pics/swiper_pseLink.jpg" alt="swiper_pseLink">
    </div>
    <div class="swiper-slide right" (click)="navigateTo(['/', 'Heilpraxis Daniela Hale'])">
        <img src="../../assets/pics/swiper_kinder.jpg" alt="swiper_kinder">
    </div>
    <div class="swiper-slide right" (click)="navigateTo(['/persönlichkeitstraining', 'PT Persönlichkeitstraining'])">
        <p>Persönlichkeitstraining</p>
        <img src="../../assets/pics/swiper_wasserfall.jpg" alt="swiper_wasserfall">
    </div>
    <div class="swiper-slide left" (click)="navigateTo(['/gesprächspsychotherapie', 'Gesprächspsychotherapie'])">
        <p>Gesprächspsychotherapie</p>
        <img src="../../assets/pics/swiper_pfadfinderBär.jpg" alt="swiper_pfadfinderBär">
    </div>
</div>