@import "../shared/scss/general/general";
#wrapper {
    #add-entry-container {
        margin-bottom: 2rem;
        @media screen and (min-width: $tablet-min) {
            margin-bottom: 3rem;
        }
        @media screen and (min-width: $desktop-min) {
            margin-bottom: 3rem;
        }
        a {
            @include radial-gradient(white, rgba(255, 255, 255, 0));
            @include font-size-normal;
            border-radius: 20px;
            box-sizing: border-box;
            color: $color-main;
            cursor: pointer;
            display: block;
            font-family: $font-family-handwriting2;
            margin-left: auto;
            margin-right: auto;
            padding: 1rem 1rem 2rem 1rem;
            text-align: center;
            width: 95%;
            @media screen and (min-width: $tablet-min) {
                width: 70%;
            }
            @media screen and (min-width: $desktop-min) {
                width: 600px;
            }
            &:hover {
                span, i {
                    color: $color-secondary;
                }
            }
            span, i {
                transition: color 0.2s;
            }
        }
    }
    .content-container {
        margin-bottom: 4rem;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        .content {
            @include font-size-great;
            color: $color-main;
            font-family: $font-family-handwriting2;
            text-align: center;
        }
        .info {
            @include font-size-normal;
            color: $color-main;
            font-family: $font-family-handwriting2;
            text-align: center;
        }
    }
}