<!-- Locations -->
<div class="location-container" *ngFor="let location of locations">
    <div class="location-headline" (click)="location.toggleImages()">
        <img src="{{'../assets/pics/location-background/' + location.getLocationUrl() + '.jpg'}}" alt="">
        <p class="sublocation">{{location.getSublocation()}}</p>
        <p class="name">{{location.getLocation()}}</p>
        <p class="infotext">~ zum {{location.getImages().length === 0 ? 'öffnen' : 'schließen'}} klicken ~</p>
    </div>
    <!-- Images -->
    <div class="images-container">
        <div *ngFor=" let image of location.getImages()" class="galerie-image">
            <img src="{{'../assets/pics/bildergalerie/' + location.getLocationUrl() + '/' + image.getLabel() + '.jpg'}}" alt="{{location.getLocationUrl()}}">
        </div>
        <p *ngIf="location.getHiddenImagesAmount() > 0 && location.getImages().length > 0" class="images-button" (click)="location.showMoreImages()">
            mehr Bilder aus {{location.getLocation()}} zeigen
        </p>
    </div>
    <!-- Deprecated -->
    <div *ngIf="location.hasDeprecatedImages()" class="deprecated-container">
        <p *ngIf="location.getImages().length > 0" class="deprecated-button" (click)="location.toggleDeprecatedImages()">
            Bilder {{location.getDeprecatedImages().length === 0 ? 'anzeigen' : 'ausblenden'}}, wie der Garten vor meiner Umgestaltung aussah
        </p>
        <div *ngIf="location.getImages().length > 0">
            <div *ngFor=" let image of location.getDeprecatedImages()" class="deprecated-image">
                <img src="{{'../assets/pics/bildergalerie/' + location.getLocationUrl() + '/alt/' + image.getLabel() + '.jpg'}}" alt="{{image.getLabel()}}">
                <p><b>vorher</b></p>
            </div>
        </div>
    </div>
</div>