@import "../shared/scss/general/general";
.location-headline {
    background: url(../assets/pics/test.png);
    border-radius: 20px;
    height: 237px;
    margin: 2rem auto;
    width: 95%;
    p {
        @include drop-shadow(0 0 5px #000);
        @include font-size-huge();
        color: white;
        font-family: $font-family-handwriting;
        line-height: 237px;
        height: 237px;
        margin: 0;
        text-align: center;
    }
}

.galerie-image {
    @include transition(opacity 2s);
}

.image-hidden {
    opacity: 0;
}

.image-visible {
    opacity: 1;
}

.image-not-displayed {
    display: none;
}

.image-displayed {
    display: block;
}