@import "../shared/scss/general/general";
.location-headline {
    border-radius: 20px;
    cursor: pointer;
    height: 237px;
    margin: 3rem auto 1rem;
    width: 95%;
    p {
        @include drop-shadow(0 0 5px #000);
        @include font-size-huge();
        color: white;
        font-family: $font-family-handwriting;
        line-height: 237px;
        height: 237px;
        margin: 0;
        text-align: center;
    }
}

#test {
    background: url(../assets/pics/location-background/test.png);
}

#test2 {
    background: url(../assets/pics/location-background/test2.png);
}

#test3 {
    background: url(../assets/pics/location-background/test3.png);
}

.galerie-image {
    @include transition(opacity 2s);
    .image-not-displayed {
        display: none;
    }
    .image-displayed {
        display: block;
    }
    div {
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 90%;
        }
        p {
            box-sizing: border-box;
            color: $color-main;
            font-family: $font-family-handwriting2;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2px;
            max-width: 90%;
            padding-left: 1rem;
            padding-right: 1rem;
            text-align: right;
        }
    }
}

.image-hidden {
    opacity: 0;
}

.image-visible {
    opacity: 1;
}