<!-- Swiper -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide" id="swiper-slide1">
            <p><b>Praxis für Naturheilverfahren und energetisches Heilen</b></p>
        </div>
        <div class="swiper-slide" id="swiper-slide2">
            <b>Naturheilpraxis Daniela Hale</b>
        </div>
        <div class="swiper-slide" id="swiper-slide3">

        </div>
        <div class="swiper-slide" id="swiper-slide4">
            <b>Psychosomatische Energetik</b>
        </div>
        <div class="swiper-slide" id="swiper-slide5">

        </div>
        <div class="swiper-slide" id="swiper-slide6">
            <p><b>Persönlichkeitstraining</b></p>
        </div>
        <div class="swiper-slide" id="swiper-slide7">
            <p><b>Gesprächspsychotherapie</b></p>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>