<!-- Locations -->
<div *ngFor="let location of locations">
    <div class="location-headline" (click)="location.showImages()">
        <p>{{location.getLocation()}}</p>
    </div>
    <!-- Images -->
    <div *ngFor=" let image of location.getImages(); let index=index" class="galerie-image" [ngClass]="{ 'image-hidden': index >= location.getVisibleImagesAmount(), 'image-visible': index < location.getVisibleImagesAmount()}">
        <div [ngClass]="{ 'image-not-displayed': index >= location.getVisibleImagesAmount(), 'image-displayed': index < location.getVisibleImagesAmount()}">
            <p class="image">{{image.getYear()}}</p>
        </div>
    </div>
</div>