<img src="../../assets/pics/hausschild_newG.png" alt="Gartengestaltung Andrea Wohlgemuth">
<div id="links-container" (click)="gotoLandingPage()">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/galerie" routerLinkActive="active">Bildergalerie</a>
    <a routerLink="/philosophie" routerLinkActive="active">Philosophie</a>
    <a routerLink="/links" routerLinkActive="active">Links</a>
    <a routerLink="/kontakt" routerLinkActive="active">Kontakt</a>
    <a routerLink="/guestbook" routerLinkActive="active">Gästebuch</a>
    <a routerLink="/impressum" routerLinkActive="active">Impressum</a>
</div>