<div id="wrapper">
    <img src="../../assets/pics/profilpic.jpg" alt="Andrea Wohlgemuth" id="profilpic">

    <div id="offer-container">
        <p>Gartenberatung und Planung</p>
        <p>Skizzierung und Zeichnung</p>
        <p>Gestaltung, Dekoration</p>
        <p>Garten.. Wintergarten</p>
        <p>Farbberatung</p>
        <p>Stilfragen auch im Innenbereich</p>
        <p>Hilfe zur Selbsthilfe</p>
        <p>Ausführung durch Landschaftsgärtner meines Vertrauens</p>
        <p>Betreuung</p>
        <p>Grabgestaltung</p>
        <p>Saisonale Pflanzendekoration in Schalen und Kübeln</p>
    </div>
    <app-swiper (navigate)="navigateTo($event)"></app-swiper>
</div>