<div id="wrapper">
    <!-- logo container -->
    <img src="../../assets/pics/naviLogo_mobile.png" alt="Idee und Idyll" id="logo-mobile">
    <img src="../../assets/pics/naviLogo_tablet.png" alt="Idee und Idyll" id="logo-tablet">

    <!-- link container -->
    <div id="link-container">
        <img src="../../assets/pics/naviLogo_desktop.png" alt="Idee und Idyll" id="logo-desktop">
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/galerie" routerLinkActive="active">Bildergalerie</a>
        <a routerLink="/philosophie" routerLinkActive="active">Philosophie</a>
        <a routerLink="/links" routerLinkActive="active">Links</a>
        <a routerLink="/kontakt" routerLinkActive="active">Kontakt</a>
        <a routerLink="/imoressum" routerLinkActive="active">Impressum</a>
    </div>

    <!-- Branches -->
    <div id="branches-container">
        <img src="../../assets/pics/branches_2.png" alt="zweige_1" id="branches-desktop">
    </div>
</div>