<div id="wrapper">
    <!-- logo container -->
    <img src="../../assets/naviLogo_mobile.png" alt="Idee und Idyll" id="logo-mobile">
    <img src="../../assets/naviLogo_tablet.png" alt="Idee und Idyll" id="logo-tablet">

    <!-- link container -->
    <div id="link-container">
        <img src="../../assets/naviLogo_desktop.png" alt="Idee und Idyll" id="logo-desktop">
        <p><b>Home</b></p>
        <p><b>Bildergalerie</b></p>
        <p><b>Philosophie</b></p>
        <p><b>Link</b></p>
        <p><b>Kontakt</b></p>
        <p><b>Impressum</b></p>
    </div>

    <!-- Branches -->
    <div id="branches-container">
        <img src="../../assets/branches_2.png" alt="zweige_1" id="branches-desktop">
    </div>
</div>